@charset "utf-8";


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a {
	margin:0;
	padding:0;
	outline:0
}
fieldset,img {
	border:0
}
:focus {
	outline:0
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style:normal;
	font-weight:400;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400
}
a {
	text-decoration:none;
	transition:0.2s;
	color:#555555;
}
a:hover {
	/*text-decoration:underline;*/
	text-decoration : none;
	/*color:#666;*/
}
abbr,acronym {
	border:0;
	font-variant:normal
}
input,button,textarea,select,optgroup,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input,button,textarea,select {
	*font-size:100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
table {
	border-collapse:collapse;
	border-spacing:0
}
ol,ul,li {
	list-style:none
}
ul,li{
	list-style-type:none;
/*	list-style-position:inside;*/
}
caption,th {
	text-align:left
}
sup,sub {
	font-size:100%;
	vertical-align:baseline
}
/*:link,:visited,ins {
	text-decoration:none
}*/
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
legend { border: 0; *margin-left: -7px; padding: 0; }

label { cursor: pointer; }

select,input,img{
	vertical-align:middle
}

img{border:none;}

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* 清除浮动 http://developer.51cto.com/art/201105/261229.htm */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/* 超过指定宽度，用省略号代替 */
.ellipsis{display:block;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*强制换行*/
.break_word{word-wrap:break-word;word-break:break-all;}

/*禁止换行*/
.keep_all{word-break:keep-all;white-space:nowrap;}

/*禁止FF等浏览器给textarea增加可拖拽大小的设置*/
textarea { resize: none; }

/*表格边框合并*/
table{border-collapse:collapse;}


/*两端对齐 若单行，至少要3个字符，只有两个字符的，中间补一个空格*/
.text_justify {
	text-align: justify; text-justify: distribute-all-lines;/*ie6-8*/ 
	text-align-last: justify;/* ie9*/ 
	-moz-text-align-last: justify;/*ff*/ 
	-webkit-text-align-last: justify;/*chrome 20+*/ }
	@media screen and (-webkit-min-device-pixel-ratio:0) {/* chrome*/
	.aaa:after { content: "."; display: inline-block; width: 100%; overflow: hidden; height: 0; }
}

/*修复火狐按钮文字不垂直居中的bug*/
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none;
	padding:0;
}

@charset "utf-8";

* html body{
	/* IE6 fixed box hack */
	_background-image:url(about:blank);
	_background-attachment:fixed
}
 
body {
	font:14px/1.5 "微软雅黑";
	color:#555555;
	background:#f6f7f9;
}
.px1000{
	width: 1000px;
	margin: 0 auto;
}
.px1200{
	width: 1200px;
	margin: 0 auto;
}

.fyh {
	font-family:"微软雅黑","黑体";
}
.fht {
	font-family:"黑体";
}
.number {
	font-family:Arial;
}
.bold {
	font-weight:bold;
}
.normal {
	font-weight:normal;
}
.word-break {
	word-break:break-all;
	word-wrap:break-word;
}

.relative {
	position:relative;
}
.absolute {
	position:absolute;
}
.z1 {
	z-index:1;
}
.z10 {
	z-index:10;
}
.hide {
	display:none;
}
.show {
	display:block;
}
.iblock {
	display:inline-block;
}
.tc {
	text-align:center;
}
.tl {
	text-align:left;
}
.tr {
	text-align:right;
}
.vm {
	vertical-align:middle;
}
.vt {
	vertical-align:top;
}
.fr {
	float:right;
}
.fl {
	float:left;
}
.clearfix:before,.clearfix:after{
	content:"";
	display:table
}
.clearfix:after{
	clear:both;
	display:block
}
.clear-both {
	clear:both;
	line-height:1px;
	height:1px;
	font-size:1px;
	overflow:hidden;
}



.clearfix {
	zoom:1;
}
.clear {
	clear:both;
}
* html .clearfix {
	zoom:1;
}
*:first-child+html .clearfix {
	zoom:1;
}
.tablelist {
	width:100%;
	border:0;
}
.table_title {
	vertical-align:top;
}
.table_left {
	text-align:right;
}


.m5 {
	margin:5px;
}
.m10 {
	margin:10px;
}
.ml5 {
	margin-left:5px;
}
.ml10 {
	margin-left:10px;
}
.ml15 {
	margin-left:15px;
}
.ml20 {
	margin-left:20px;
}
.ml25 {
	margin-left:25px;
}
.ml30 {
	margin-left:30px;
}
.ml35 {
	margin-left:35px;
}
.ml40 {
	margin-left:40px;
}
.ml45 {
	margin-left:45px;
}
.ml50 {
	margin-left:50px;
}
.ml60 {
	margin-left:60px;
}
.mr5 {
	margin-right:5px;
}
.mr10 {
	margin-right:10px;
}
.mr15 {
	margin-right:15px;
}
.mr20 {
	margin-right:20px;
}
.mr25 {
	margin-right:25px;
}
.mr30 {
	margin-right:30px;
}
.mr35 {
	margin-right:35px;
}
.mr40 {
	margin-right:40px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.mt25 {
	margin-top:25px;
}
.mt30 {
	margin-top:30px;
}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom:10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}
.mb25 {
	margin-bottom:25px;
}
.mb30 {
	margin-bottom:30px;
}
.mb40{margin-bottom:40px;}
.mb50 {
	margin-bottom:50px;
}
.p2 {
	padding:2px;
}
.p5 {
	padding:5px;
}
.p10 {
	padding:10px;
}
.pl5 {
	padding-left:5px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl16 {
	padding-left:16px;
}
.pl20 {
	padding-left:20px;
}
.pl25 {
	padding-left:25px;
}
.pl30 {
	padding-left:30px;
}
.pl35 {
	padding-left:35px;
}
.pl40 {
	padding-left:40px;
}
.pl45 {
	padding-left:45px;
}
.pl50 {
	padding-left:50px;
}
.pr5 {
	padding-right:5px;
}
.pr10 {
	padding-right:10px;
}
.pr15 {
	padding-right:15px;
}
.pr20 {
	padding-right:20px;
}
.pr25 {
	padding-right:25px;
}
.pr30 {
	padding-right:30px;
}
.pr35 {
	padding-right:35px;
}
.pr40 {
	padding-right:40px;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.pt25 {
	padding-top:25px;
}
.pt30 {
	padding-top:30px;
}
.pt35 {
	padding-top:35px;
}
.pt40 {
	padding-top:40px;
}
.pt45 {
	padding-top:45px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.pb25 {
	padding-bottom:25px;
}
.pb30 {
	padding-bottom:30px;
}
.pb35 {
	padding-bottom:35px;
}
.pb40 {
	padding-bottom:40px;
}
.pb45 {
	padding-bottom:45px;
}

.ti { text-indent:2em;}
/*进度样式*/
.ui-progressbar-mid {
	display: inline-block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	text-align: center;
	
	position: relative;
	background: url(../images/progressbar_mid.png?rrdversion=20131013b);
	overflow: hidden;
}
.ui-progressbar-mid-0 {
	background-position: 0px 0;
}
.ui-progressbar-mid-1 {
	background-position: -54px 0;
}
.ui-progressbar-mid-2 {
	background-position: -108px 0;
}
.ui-progressbar-mid-3 {
	background-position: -162px 0;
}
.ui-progressbar-mid-4 {
	background-position: -216px 0;
}
.ui-progressbar-mid-5 {
	background-position: -270px 0;
}
.ui-progressbar-mid-6 {
	background-position: -324px 0;
}
.ui-progressbar-mid-7 {
	background-position: -378px 0;
}
.ui-progressbar-mid-8 {
	background-position: -432px 0;
}
.ui-progressbar-mid-9 {
	background-position: -486px 0;
}
.ui-progressbar-mid-10 {
	background-position: -540px 0;
}
.ui-progressbar-mid-11 {
	background-position: -594px 0;
}
.ui-progressbar-mid-12 {
	background-position: -648px 0;
}
.ui-progressbar-mid-13 {
	background-position: -702px 0;
}
.ui-progressbar-mid-14 {
	background-position: -756px 0;
}
.ui-progressbar-mid-15 {
	background-position: -810px 0;
}
.ui-progressbar-mid-16 {
	background-position: -864px 0;
}
.ui-progressbar-mid-17 {
	background-position: -918px 0;
}
.ui-progressbar-mid-18 {
	background-position: -972px 0;
}
.ui-progressbar-mid-19 {
	background-position: -1026px 0;
}
.ui-progressbar-mid-20 {
	background-position: -1080px 0;
}
.ui-progressbar-mid-21 {
	background-position: -1134px 0;
}
.ui-progressbar-mid-22 {
	background-position: -1188px 0;
}
.ui-progressbar-mid-23 {
	background-position: -1242px 0;
}
.ui-progressbar-mid-24 {
	background-position: -1296px 0;
}
.ui-progressbar-mid-25 {
	background-position: -1350px 0;
}
.ui-progressbar-mid-26 {
	background-position: -1404px 0;
}
.ui-progressbar-mid-27 {
	background-position: -1458px 0;
}
.ui-progressbar-mid-28 {
	background-position: -1512px 0;
}
.ui-progressbar-mid-29 {
	background-position: -1566px 0;
}
.ui-progressbar-mid-30 {
	background-position: -1620px 0;
}
.ui-progressbar-mid-31 {
	background-position: -1674px 0;
}
.ui-progressbar-mid-32 {
	background-position: -1728px 0;
}
.ui-progressbar-mid-33 {
	background-position: -1782px 0;
}
.ui-progressbar-mid-34 {
	background-position: -1836px 0;
}
.ui-progressbar-mid-35 {
	background-position: -1890px 0;
}
.ui-progressbar-mid-36 {
	background-position: -1944px 0;
}
.ui-progressbar-mid-37 {
	background-position: -1998px 0;
}
.ui-progressbar-mid-38 {
	background-position: -2052px 0;
}
.ui-progressbar-mid-39 {
	background-position: -2106px 0;
}
.ui-progressbar-mid-40 {
	background-position: -2160px 0;
}
.ui-progressbar-mid-41 {
	background-position: -2214px 0;
}
.ui-progressbar-mid-42 {
	background-position: -2268px 0;
}
.ui-progressbar-mid-43 {
	background-position: -2322px 0;
}
.ui-progressbar-mid-44 {
	background-position: -2376px 0;
}
.ui-progressbar-mid-45 {
	background-position: -2430px 0;
}
.ui-progressbar-mid-46 {
	background-position: -2484px 0;
}
.ui-progressbar-mid-47 {
	background-position: -2538px 0;
}
.ui-progressbar-mid-48 {
	background-position: -2592px 0;
}
.ui-progressbar-mid-49 {
	background-position: -2646px 0;
}
.ui-progressbar-mid-50 {
	background-position: -2700px 0;
}
.ui-progressbar-mid-51 {
	background-position: -2754px 0;
}
.ui-progressbar-mid-52 {
	background-position: -2808px 0;
}
.ui-progressbar-mid-53 {
	background-position: -2862px 0;
}
.ui-progressbar-mid-54 {
	background-position: -2916px 0;
}
.ui-progressbar-mid-55 {
	background-position: -2970px 0;
}
.ui-progressbar-mid-56 {
	background-position: -3024px 0;
}
.ui-progressbar-mid-57 {
	background-position: -3078px 0;
}
.ui-progressbar-mid-58 {
	background-position: -3132px 0;
}
.ui-progressbar-mid-59 {
	background-position: -3186px 0;
}
.ui-progressbar-mid-60 {
	background-position: -3240px 0;
}
.ui-progressbar-mid-61 {
	background-position: -3294px 0;
}
.ui-progressbar-mid-62 {
	background-position: -3348px 0;
}
.ui-progressbar-mid-63 {
	background-position: -3402px 0;
}
.ui-progressbar-mid-64 {
	background-position: -3456px 0;
}
.ui-progressbar-mid-65 {
	background-position: -3510px 0;
}
.ui-progressbar-mid-66 {
	background-position: -3564px 0;
}
.ui-progressbar-mid-67 {
	background-position: -3618px 0;
}
.ui-progressbar-mid-68 {
	background-position: -3672px 0;
}
.ui-progressbar-mid-69 {
	background-position: -3726px 0;
}
.ui-progressbar-mid-70 {
	background-position: -3780px 0;
}
.ui-progressbar-mid-71 {
	background-position: -3834px 0;
}
.ui-progressbar-mid-72 {
	background-position: -3888px 0;
}
.ui-progressbar-mid-73 {
	background-position: -3942px 0;
}
.ui-progressbar-mid-74 {
	background-position: -3996px 0;
}
.ui-progressbar-mid-75 {
	background-position: -4050px 0;
}
.ui-progressbar-mid-76 {
	background-position: -4104px 0;
}
.ui-progressbar-mid-77 {
	background-position: -4158px 0;
}
.ui-progressbar-mid-78 {
	background-position: -4212px 0;
}
.ui-progressbar-mid-79 {
	background-position: -4266px 0;
}
.ui-progressbar-mid-80 {
	background-position: -4320px 0;
}
.ui-progressbar-mid-81 {
	background-position: -4374px 0;
}
.ui-progressbar-mid-82 {
	background-position: -4428px 0;
}
.ui-progressbar-mid-83 {
	background-position: -4482px 0;
}
.ui-progressbar-mid-84 {
	background-position: -4536px 0;
}
.ui-progressbar-mid-85 {
	background-position: -4590px 0;
}
.ui-progressbar-mid-86 {
	background-position: -4644px 0;
}
.ui-progressbar-mid-87 {
	background-position: -4698px 0;
}
.ui-progressbar-mid-88 {
	background-position: -4752px 0;
}
.ui-progressbar-mid-89 {
	background-position: -4806px 0;
}
.ui-progressbar-mid-90 {
	background-position: -4860px 0;
}
.ui-progressbar-mid-91 {
	background-position: -4914px 0;
}
.ui-progressbar-mid-92 {
	background-position: -4968px 0;
}
.ui-progressbar-mid-93 {
	background-position: -5022px 0;
}
.ui-progressbar-mid-94 {
	background-position: -5076px 0;
}
.ui-progressbar-mid-95 {
	background-position: -5130px 0;
}
.ui-progressbar-mid-96 {
	background-position: -5184px 0;
}
.ui-progressbar-mid-97 {
	background-position: -5238px 0;
}
.ui-progressbar-mid-98 {
	background-position: -5292px 0;
}
.ui-progressbar-mid-99 {
	background-position: -5346px 0;
}
.ui-progressbar-mid-100 {
	background-position: -5400px 0;
}
/*======== index.css===========*/
#df_top_wper{background-color:#474e5d;}
.df_top_l{color:#dadada;font-size:14px;height:35px;line-height:35px;}
.df_top_r a{display:inline-block;border-right:1px solid #000000;border-left:1px solid #898e97;float:left;height:35px;color:#dadada;font-size:14px;;line-height:35px;}
.df_top_r a:hover{color:#fff;}
#df_nav_wper{background-color:#ffffff;}
.df_nav_l{width:332px;}
.df_nav_c{width:530px;}
.df_nav_r{width:138px;}
.df_nav_c li{float:left;padding:35px 23px 0 23px;}
.df_nav_c li a{color:#000000;font-size:16px;}
.df_nav_c li a:hover{color:#dadada;}
.df_nav_r{padding-top:35px;}
.df_nav_r a{color:#767676;font-size:14px;font-weight: bold;}
.df_nav_r .dnr_curcolor{color:#ff7112;}
#df_banner_wper{background:url(../images/df_banner01.png) no-repeat scroll center center;height:354px;}
#df_datacount_wper{background:#ffffff;padding:20px 0;}
.df_datacount_ul li{width:160px;color:#b0b0b0;font-size:14px;padding:10px 0 0 90px;height:72px;float:left;}
.df_datacount_ul li strong{color:#000000;font-size:24px;}
.df_datacountbg01{background:url(../images/data01.png) no-repeat scroll 0 0;}
.df_datacountbg02{background:url(../images/data02.png) no-repeat scroll 0 0;}
.df_datacountbg03{background:url(../images/data03.png) no-repeat scroll 0 0;}
.df_conbg{background:url(../images/df_conbg.png) no-repeat 0 0;}
.df_content_wper{padding:55px 0;}
.newer_ty{background-color:#fff;border-radius:5px;border:1px solid #eee;}
.newer_ty_l{width:268px;}
.newer_jine,.newer_qixian{color:#000000;font-size:16px;width:220px;border-right:1px solid #e7e7e7;margin:20px 0;padding:0 30px;}
.newer_jine span,.newer_qixian span{display:inline-block;width:80px;text-align:right;}
.newer_jine  strong,.newer_qixian strong{font-size:30px;}
.df_tybtn{background:url(../images/df_tybtn.png) no-repeat scroll center center;width:134px;height:46px;line-height:46px;text-align:center;color:#fff;font-size:14px;display:inline-block;margin:40px 0px 0 20px;}
.df_lccp_h2{line-height:35px;color:#9a9a9a;font-size:14px;;}
.df_lccp_h2 span{color:#171717;font-size: 
16px;padding:0 25px;}
.df_lccp_h3{border:1px solid #e7e7e7;background-color:#fff;line-height:40px;border-radius:5px;}
.df_lccp_h3 span{width:135px;text-align:center;color:#000000;font-size:16px;border-right:1px solid #e7e7e7;float:left;display:inline-block;cursor:pointer;}
.df_lccp_h3 a{color:#bdbdbd;font-size:14px;;float:right;margin-right:40px;}
.df_lccp_h3 .lccp_curspan{background-color:#0098e1;color:#fff;}
.lccp_ctd_list{width:209px;padding:10px 15px;border-radius:5px;float:left;height:263px;border:1px solid #eee;}
.lccp_ctd_listbg{background:url(../images/cdt_bg01.png) no-repeat scroll 0 0;height:283px;}
.btn_more{display:inline-block;width:110px;height:35px;line-height:35px;text-align:center;color:#fff;font-size:14px;border:1px solid #fff;border-radius:5px;margin-top:220px;margin-left:55px;}
.lccp_ctd_two{background-color:#fff;}
.lccp_ctd_two h3{color:#171717;font-size:14px;}
.lccp_ctd_two h4{color:#000000;font-size:14px;;line-height:30px;border-bottom:1px solid #e7e7e7;}
.mr12{margin-right:12px;}
.lccp_ctd_ul li{color:#000000;font-size: 12px;}
.lccp_ctd_ul li span{color:#ff7112;font-size:14px;}
.lccp_ctd_ul li span strong{font-size:24px;}
.lccp_ctd_ul li em{color:#171717;font-size:14px;}
.lccp_ctd_ul li em strong{color:#171717;font-size:24px;}
.zpro_list_press{position: relative;margin-top:50px;}
.list_press_wper{width:180px;height:9px;background-color:#dfecd6;margin-top:5px;border-radius:5px;}
.list_press{width:10%;background-color:#63be26;height:9px;border-radius:5px;}
.fontcolor6{position:absolute;left:10%;margin-left:-18px;top:-28px;background:url(../images/zpro_bg.png) no-repeat scroll center center;width:39px;height:23px;color:#fff;text-align:center;}
.lltz_btn{background:url(../images/ljtz_bg.png) no-repeat scroll center center;text-align:center;color:#fff;font-size:14px;display:inline-block;border-radius:5px;width:200px;height:38px;line-height:38px;}
.df_ndbg{width:;background: url(../images/df_ndbgbg.png) no-repeat scroll center center;height: 121px;position: relative;}
.df_ndbg a{display:inline-block;position: absolute;top:50px;right:30px;}
.lccp_ctd_listbg2{background:url(../images/cdt_bg02.png) no-repeat scroll 0 0;height:283px;}
.zqzr_r{width:705px;border:1px solid #e7e7e7;padding:11px 20px;background-color:#fff;border-radius:5px;}
.zqzr_ul{padding:10px 0;border-bottom:1px dashed #e7e7e7;}
.zqzr_ul li{float:left;color:#999999;font-size:14px;; width:141px;}
.zqzr_ul .zqzr_ft01{color:#ff6600;font-size:20px;}
.zqzr_ul .zqzr_ft02{color:#ff6600;font-size:14px;}
.zqzr_ul .zqzr_ft03{color:#000000;font-size:20px;}
.progressbar{display:inline-block;width:60px;height:60px;text-align:center;line-height:60px;color:#fe840b;font-size:14px;;overflow:hidden;background-image:url(../images/progressbar_mid2.png);}
.lltb_btn{background:url(../images/ljtz_bg02.png) no-repeat scroll center center;text-align:center;color:#fff;font-size:14px;display:inline-block;border-radius:5px;width:117px;height:35px;line-height:35px;margin-top:15px;}
.meida_report{}
.meida_report_l{width:745px;}
.meida_report_r{width:235px;}
.meida_tit{line-height:35px;}
.meida_tit span{color:#000;font-size:16px;padding-left:20px;font-weight:bold;}
.meida_tit a{color:#666;font-size:14px;;margin-right:20px;}
.meida_report_text{border:1px solid #ededed;border-top:2px solid #69b0fa;border-radius:5px;padding:20px 30px;background-color:#fff;}
.meida_news{border-bottom:1px solid #ededed;padding-bottom:40px;}
.meida_news_one{width:195px;}
.mr40{margin-right:40px;}
.meida_news_one h2{padding:20px 0 0px 0;color:#333;font-size:14px;}
.meida_news_one p{color:#666;font-size:14px;;line-height:25px;}
.meida_partner li{float:left;border:1px solid #ededed;width:120px;height:47px;margin:10px 12px 10px 0;}
.meida_r_ul{border-radius:5px;background-color:#fff;border:1px solid #ededed;padding:10px;}
.meida_r_ul li{line-height:35px;color:#555;font-size:14px;list-style:disc;list-style-position:inside;}
/*-----------footer.css start*/
#df_footer_wper{background-color:#474e5d;padding:30px 0;}
.df_footer,.df_footer a{color:#8e9199;font-size:14px;}
.ft_l_aboutus li{float:left;margin-right:15px;}
.df_footer_top a:hover{color:#fff;}
.ft_top_l{width:500px;}
.ft_top_r{width:300px;text-align:right;}
.ft_kexin li{float:left;margin-right:20px;}
.ft_top_r p{line-height:30px;}
.df_frilink li{float:left;margin-right:15px;}
.df_copyright{border-top:1px solid #8e9199;}
/*================end index*/
#login_section_wper{background-color:#f4f4f4;padding:70px 0;}
.login_con{background-color:#fff;border:1px solid #e7e7e7;border-radius:5px;}
.login_con_l{width:382px;padding:50px;}
.lg_input{border:1px solid #e7e7e7;height:40px;width:340px;border-radius:5px;padding-left:40px;}
.lg_inputbg01{background:url(../images/lg_inputbg01.png) no-repeat scroll 5px 7px #fff;}
.lg_inputbg02{background:url(../images/lg_inputbg02.png) no-repeat scroll 5px 7px #fff;}
.lg_inputbg03{background:url(../images/lg_inputbg03.png) no-repeat scroll 5px 7px #fff;}
.lg_p3 span{color:#555;font-size:14px;}
.lg_p3 a{color:#316fb1;font-size:14px;}
.lg_btn{display:inline-block;width:380px;height:40px;border-radius:5px;line-height:40px;text-align:center;color:#fff;font-size:16px;background-color:#0098e1;box-shadow:0 5px 2px #0085c5;}
.lg_p5{color:#555;font-size:14px;}
.lg_p5 a{color:#ff7d33;font-size:14px;}
.login_con_r{width:450px;position:relative;}
.login_conbg{position:absolute;top:-30px;left:20px;z-index:5;}
.login_ewm{position: absolute;top:72px;left:102px;z-index:10;}
.login_con_l input:focus{border:1px solid #0098e1;}
.lg_p3 .lg_input2{width:210px;padding:0;}
.login_con_l .reg_yazhen{width:160px;height:40px;border-radius:5px;background-color:#ffb686;line-height:40px;text-align:center;color:#fff;font-size:14px;display:inline-block;}
.reg_con_r img{margin:80px 0  0 50px;}
/*invest.css*/
#invest_banner_wper{background:url(../images/in_banner.png) no-repeat scroll center center ;height:179px; }
#invest_section_wper{background-color:#f4f4f4;padding:30px 0 0 50px;}
.section_one{background-color:#fff;border:1px solid #e7e7e7;padding:40px 20px;border-radius:5px;}
.section_one_ul li{float:left;width:175px;padding-left:60px;color:#c6c6c6;font-size:14px;}
.section_one_ul li span{color:#555;font-size:20px;}
.section_one_ul li strong{color:#ff6600;}
.section_one_bg01{background:url(../images/section_one_bg01.png) no-repeat scroll 0 10px;}
.section_one_bg02{background:url(../images/section_one_bg02.png) no-repeat scroll 0 10px;}
.section_one_bg03{background:url(../images/section_one_bg03.png) no-repeat scroll 0 10px;}
.section_one_bg04{background:url(../images/section_one_bg04.png) no-repeat scroll 0 10px;}
.section_two{background-color:#fff;border:1px solid #eee;}
.section_two_tit{height:47px;background-color:#fcfcfc;border-bottom:1px solid #eee; }
.section_two_tit span{display:inline-block;width:332px;text-align:center;color:#555;font-size:18px;line-height:47px;float:left;}
.section_two_tit .in_curspan{height:45px;border-top:2px solid #0098e1;border-bottom:1px solid #fff;background-color:#fff;color:#0098e1;}
.in_sectwo_br{border-right: 1px solid #eee;}
.section_two_con{padding:25px 20px;}
.section_box1_tit{padding:10px;background-color:#f6f6f6;}
.section_box1_tit li{float:left;width:200px;color:#555;font-size:14px;}
.section_box1_tit li select{width:110px;height:25px;border:1px solid #ddd;}
.in_btn02{display:inline-block;width:88px;height:28px;border:1px solid #3a92cd;color:#3a92cd;font-size:16px;background-color:#fff;border-radius:5px;text-align:center;line-height:28px;}

.in_porlist{padding:15px 5px;border-bottom:1px dashed #f3f3f3;}
.in_porlist_l{width:70px;padding-left:5px;}
.in_porlist_c{width:620px;}
.in_porlist_c li{float:left;width:130px;line-height:30px;}
.in_porlist_c li span{color:#c1c1c1;font-size:14px;}
.in_porlist_c li strong{color:#555;font-size:16px;}
.in_porlist_c li i{color:#000;font-size:20px;font-weight:500;font-style:normal;}
.in_porlist_c .porlist_ft01{color:#ff6600;}
.in_prolist_r{width:120px;}
.in_prolist_r2{width:130px;}
.progressbar{display:inline-block;width:60px;height:60px;text-align:center;line-height:60px;font-size:12px;overflow:hidden;background-image:url(../images/probar.png);}
.in_prolist_r2 .lltz_btn{width:120px;height:40px;margin-left:0px;font-size:16px;}
.in_prolist_r2 .prolist_bg01{background-image:none;background-color:#cecece;}
.in_pagelink{padding:20px 0 20px 400px;}
.in_pagelink a{display:inline-block;padding:5px 10px;border:1px solid #eee;color:#555;font-size:12px;margin-right:10px;}
.in_pagelink .in_acur{background-color:#0098e1;color:#fff;border:1px solid #0098e1;}
/*detail.css*/
#detail_section_wper{padding:40px 0;}
.det_section_one{border:1px solid #e6e6e6;border-top:2px solid #5aa8fa;background-color:#fff;border-radius:5px;padding:30px;}
.det_section_one_l{width:639px;border-right:1px solid #eee;padding-right:30px;}
.det_section_one_r{width:250px;padding-left:10px;}
.det_secone_tit{line-height:40px;color:#666666;font-size:20px;}
.det_secone_ul{padding:30px 0;border-bottom:1px solid #e6e6e6;}
.det_secone_ul li{width:170px;float:left;padding-left:60px;color:#666666;font-size:16px;line-height:30px;}
.det_secone_ul li span{color:#ff6600;font-size:20px;font-weight:bold;}
.det_secone_ul li span strong{font-size:20px;}
.det_secone_ul .seconebg01{background:url(../images/det_secone_pic01.png) no-repeat scroll 0 0;}
.det_secone_ul .seconebg02{background:url(../images/det_secone_pic02.png) no-repeat scroll 0 0;}
.det_secone_ul .seconebg03{background:url(../images/det_secone_pic03.png) no-repeat scroll 0 0;}
.det_secone_ul2{float:left;padding:30px 0;}
.det_secone_ul2 li{float:left;border-right:1px solid #dddddd;color:#666666;font-size:14px;line-height:30px;width:180px;padding-left:20px;}
.press_wper{width:170px;height:15px;background-color:#f4f4f4;margin-top:5px;border-radius:5px;}
.press{background-color:#45aaed;height:15px;width:50%;border-radius:5px;}
.det_section_one_r p{color:#5e5e5e;font-size:14px;line-height:30px;}
.det_section_one_r p strong{color:#000;font-size:14px;font-weight:bold;}
.det_section_one_r p span{color:#008000;font-size:14px;font-weight:bold;}
.det_secone_p1 input{width:240px;height:37px;line-height:37px;border:1px solid #eee;border-radius:5px;}
.det_section_one_r .det_btn{width:240px;height:37px;box-shadow:0 5px 2px #0085c5;display:block;background-color:#0098e1;color:#fff;border-radius:5px;font-size:16px;text-align:center;line-height:37px;}
.det_section_adver{border-radius:5px;overflow:hidden;}
.det_section_l{background-color:#fff;border:1px solid #ddd;width:658px;}
.det_section_r{width:318px;}
.det_secth_ltit{height:50px;border-bottom:1px solid #ddd;background-color:#f5f5f5;}
.det_secth_ltit span{display:inline-block;width:160px;line-height:50px;color:#555;font-size:16px;text-align:center;border-right:1px solid #ddd;position: relative;}
.det_secth_ltit  em{display:inline-block;width:20px;height:20px;background-color:#ff9c3e;color:#fff;font-size:12px;font-style:normal;position:absolute;top:15px;line-height:20px;border-radius:5px;}
.det_secth_ltit .secth_curspan{background-color:#fff;color:#5aa8fa;height:49px;border-top:2px solid #5aa8fa;border-bottom:1px solid #fff;}
.det_secth_con{padding:30px 15px;}
.det_secthbox_tit{height: 32px;background-color:#f4f4f4;}
.det_secthbox_tit span{display:inline-block;width:120px;height:32px;line-height:32px;text-align: center; line-height:32px;font-size:14px;font-weight:bold;background-color:#5aa8fa;color:#fff;}
.det_jkxx_text{padding:20px;}
.det_jkxx_text dl{padding:10px 0;}
.det_jkxx_text dt{width:80px;color:848484;font-size:14px;}
.det_jkxx_text dd{color:#000;font-size:14px;width:500px;line-height:25px;}
.det_secthbox_table{margin:20px 0 0 10px;}
.det_secthbox_table tr{height:45px;border-bottom:1px dashed #eee;}
.det_secthbox_table td{width:230px;}
.det_xgzj{color:#000;font-size:14px;font-weight:bold;padding:25px 0;}
/*gundong*/
.box,.box1{width:590px;height:94px;position:relative;overflow:hidden; border:1px solid #ddd;}	
.box ul,.box1 ul{position:absolute;left:0px;}
.box ul li,.box1 ul li{width:150px;height:94px;float:left;}
.box ul li img,.box1 ul li img{width:142px;height:94px;}
/**/
.det_secr_one{padding:30px 20px;background-color:#fff;border:1px solid #ddd;}
.det_secr_tit{color:#555;font-size:16px;}
.det_sect_ul{padding:20px 10px;}
.det_sect_ul li{float:left;text-align:center;padding-bottom:20px;}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}
.det_dongtai_ul{padding:20px 0;}
.det_dongtai_ul li{border-bottom:1px solid #eee;color:#999999;font-size:14px;padding:10px 0 10px 20px;background:url(../images/det_dian.png) no-repeat scroll 0 20px;line-height:25px;}
.det_dongtai_ul li strong{color:#555;font-size:15px;}
.det_dongtai_ul li i{color:#ff8824;font-size:14px;font-style:normal;}
.det_dongtai_ul li em{color:#999999;font-size:12px;}
.zyz_conbg{background:url(../images/zyz_conbg.png) repeat-x scroll 0 0;}